
.layout {
    width: 95%;
    height: 96vh;
    background-color: black;
    background-image: url('../Images/layer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 600px) {
    
    .layout {
        width: 100%;
        overflow: hidden;
    }
}